/**
 * CONTENTS
 *
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * BASE
 * Headings.............H1�H6 styles.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * JS CONTROLS
 *
 * COMPONENTS
 * header............The main page header.
 * footer............The main page footer.
 *
 * MEDIA QUERIES
 * Media queries.................Media Queries
 */

 /*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
html{background:#fff}
body{font:normal 14px/1.5  "Century Gothic",CenturyGothic,AppleGothic,sans-serif;color:#282828;}
a, a:hover, a:visited, a:active, a:focus{text-decoration:none;color:#000;outline:none;}
.nav > li > a:focus, .nav > li > a:hover {background-color:transparent}
 /*------------------------------------*\
    #BASE
\*------------------------------------*/
/**KENDO**/
.km-content, .km-android{background:#fff!important}
.km-android input, .km-android select, .km-android textarea, .km-android .km-widget{color:#000}
.km-android .km-button{border:none}
.km-button.km-state-active{background-color:transparent;color:transparent}
.km-listview-link::after {display:none}
.km-widget.km-button{background:none;border:none;color:#000}
.km-android .km-widget .km-state-active {background-color:transparent}
.km-android .km-button.km-state-active:after, .km-android .km-buttongroup .km-state-active:after {display:none}
/**HEADINGS**/
h1{font: 600 30px/1.2 "Century Gothic",CenturyGothic,AppleGothic,sans-serif;color:#282828;margin:0}
h2{font: 700 20px/1.2 "Century Gothic",CenturyGothic,AppleGothic,sans-serif;color:#282828;margin:0}
h3{font: 700 20px/1.2 "Century Gothic",CenturyGothic,AppleGothic,sans-serif;color:#282828;margin:0}
small{font-size:12px;display:block;margin:10px 0}
/**FONTS**/
 /*------------------------------------*\
    #TOOLS
\*------------------------------------*/
video{max-width:100%}
.row-margin-null{margin-left:0;margin-right:0}
/**BUTTONS**/
.bttn-next{float:right}
.bttn-signout{position:absolute;bottom:20px}
.km-button.bttn-tableofcontents{width:200px;border-right:1px solid #2a383f;border-radius:0}
/**MARGINS/PADDINGS/LINE HEIGHT STYLE**/

/**ICONS**/
/**PAGINATION**/

/**MIXINS**/


 /*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/**====HEADER====**/
/**====FOOTER====**/
/**====BOOK LISTING====**/
.main-aside{background:#7ebbb6}
.branding-wrap{margin-left:-15px;margin-right:-15px;background:#fff}
.profile-wrap-bg{margin-left: -15px;margin-right: -15px;max-height: 150px;overflow: hidden;}
.profile-photo{border:5px solid #fff;border-radius:50%;width:150px;height:150px;margin:-75px auto 20px;position:relative}
.profile-header{text-align:center}
.listing-masthead-wrap{background:#f6f6f6;border-bottom:4px solid #eceff0;margin-left:-15px;margin-right:-15px;padding:0 20px 20px;}
.listing-masthead-wrap h1{margin:0}
.tabs-listing.km-widget.km-buttongroup{color:#fe904e;border:1px solid #fe904e;border-radius:5px;float:right}
.tabs-listing.km-buttongroup .km-button{background:#fff;border-color:#fe904e;color:#fe904e}
.tabs-listing .km-button.km-state-active{color:#fff;background:#fe904e}
.tabs-listing .km-state-active{background-color:#fe904e}
.tabcontent-infantbooks{display:none}
.listing-books{padding-top:20px;background:#fff;margin-left:-28px;margin-right:-28px}
.listing-books h3{font-size:14px;text-align:left;margin-left:0}
.listing-books strong{font-weight:normal}
.listing-books .km-listview-link::after, .listing-books .km-listview-label::after{display:none}
.listing-books a{width:100%}
.listing-books a:selected{background-color:transparent}
/**====BOOK DETAILS====**/
.bookdetails-drawer .km-content{background:#7ebbb6!important}
.bookdetails-drawer-head h1{background:#94c8c6;font-size:20px;margin:0;padding:15px;color:#296b68}
.bookdetails-drawer .km-listview-wrapper li a{color:#fff}
.bookdetails-drawer .glyphicon{float:right}
.bookdetails-drawer-firstnav > li{border-bottom:1px solid #fff}
.bookdetails-drawer-firstnav ul {display:none}
.bookdetails-drawer-firstnav ul li{margin-bottom:10px}

.km-android .book-main-wrap-header.km-footer{background:#f6f6f6;height:50px;padding-top:0}
.book-main-wrap-header strong{font-size:16px;line-height:50px;float:right;padding-right:15px}
.book-main-wrap-header a{font-size:16px;line-height:30px;padding-left:15px}
.km-android .book-main-wrap-footer.km-header{background:#f6f6f6;height:50px;padding-top:10px;}

.book-content-head{margin-bottom:30px}
.bookdetails-tabs{float:right}
.bookdetails-tabs li{display:inline;margin-right:20px;cursor:pointer}
.bookdetails-tabs li:hover{border-bottom:3px solid #fe9251}

.book-content-wrap{padding:60px 0}
.tab-content-02,.tab-content-03{display:none}
