// Main Aside

.mf-main {
	.listing-masthead-wrap {
		display:block;
		background:#f6f6f6;
		border-bottom: 1px solid #dbe1e6;
		padding: 40px 10px;
		min-height:85px;

		h1 {
			font:normal 30px "museo_slab700";margin:0;color:#76c4e0;
		}
 		strong {
 			font:normal 14px "museo_sans300", sans-serif;color:#7d8487;
 		}
	}

}