<div class="book-main-wrap" data-role="view" id="chapter00" data-layout="drawer-layout" data-title="Chapter00" data-model="bookdetails">
  <header>
    <div class="row">
        <div class="col-xs-2">
            <a data-role="button" data-rel="drawer" href="#book-chapters" data-icon="drawer-button"></a>
        </div>
        <div class="col-xs-8">
            <span data-role="view-title" class="book-details-title" data-bind="text: title" >test</span>
        </div>
        <div class="col-xs-2">
            <a data-role="button" href="views/listoverview.html" data-transition="fade" class="pull-right">Close</a>
        </div>	        
    </div>       
  </header>
  <div class="row">
    <div class="col-xs-12">
      <div id="titletest">
          
        </div>
      <p>Morbi commodo velit enim, sed pretium diam dapibus a. Nunc finibus interdum nulla, vitae euismod nibh blandit eget. Sed nec tincidunt massa. Vestibulum elementum volutpat elit vel volutpat. Fusce gravida, tellus nec iaculis volutpat, elit libero mollis leo, id porta mauris metus quis libero. Praesent non vestibulum metus. Suspendisse sit amet urna ex. Proin viverra volutpat nunc et fermentum. Quisque vitae ullamcorper ante. Pellentesque odio tortor, faucibus non faucibus et, lacinia id felis.</p>
    </div>
  </div>
  <footer>
    <a data-role="#" class="bttn-prev">Prev</a>
    <a data-role="nextbutton" class="bttn-next">Next</a>
  </footer>
</div>


<div data-role="drawer" id="book-chapters" style="width: 270px" >
    <ul data-role="listview">
      <li><a href="#chapter00" data-transition="none">Preface</a></li>
      <li><a href="#chapter01" data-transition="none">Chapter 1</a></li>
      <li><a href="" data-transition="none">Chapter 2</a></li>
      <li><a href="" data-transition="none">Chapter 3</a></li>
    </ul>
</div>

<script>
(function () {
  var domain = "http://192.168.1.39:9999/";
  window.bookdetails = kendo.observable({
      function(){
        $.ajax({
            type: "POST",
            url: domain + "Custom/Service/TestService.svc/GetTestBook",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: null,
            success: function (result) 
            {
                var data = result.d
                var htmlDisplay = "";
  				title: data[index].CoverImageUrl


            },
            error: function (error) { alert(error); }
        });      
      }
      alert(data[index].CoverImageUrl);
  });
}());
</script>
