<div data-role="view" data-title="Listing" id="listoverview" data-reload="true">    
    <div class="col-xs-3 main-aside js-fullheight">
      <h1>Music Factory</h1>
      <div class="profile-wrap">
        <img src="http://placehold.it/350x150" class="img-responsive"/>
        <div class="profile-header">
          <strong>Welcome Back!</strong>
          <h2>Jane Smith</h2>
        </div>
      </div>
      <nav>
        <ul data-role="listview">
            <li><a href="#/" data-icon="home">Home</a></li>
            <li><a href="views/class.html" data-icon="favorites">My Class</a></li>
            <li><a href="views/books.html" data-icon="globe">Books</a></li>
        </ul>
        <a href="#" data-role="button">Sign Out</a>  
      </nav>
    </div>
    <div class="col-xs-9">
      <div class="listing-masthead-wrap">
        <div class="listing-masthead">
            <h1>Music Factory Babies &amp; Toddlers Program</h1>
            <p>
                Leading the way in creative music education
            </p>
            <!--
            <div class="listing-masthead-tabs clearfix">
              <div class="pull-right">
                <button>
                    tab 01
                </button>
                <button>
                    tab 02
                </button>
              </div>
            </div>
			-->
        </div>
      </div>
      <div class="row listing-books" data-role="listview" data-model="listingBooks" id="listingBooks">
        <div class="col-xs-2">
          <a href="views/book-details.html" title="">
            <img src="" id="js-listingbooks-cover" class="img-responsive"/>
            <h3>English Version</h3>
            <strong>Owl Series: Classroom Music Program</strong>
          </a>
        </div>
          <!--
        <div class="col-xs-2">
          <a href="views/book-details.html" title="">
            <img src="./img/book.jpg" class="img-responsive"/>
            <h3>English Version</h3>
            <strong>Owl Series: Classroom Music Program</strong>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="views/book-details" title="">
            <img src="./img/book.jpg" class="img-responsive"/>
            <h3>English Version</h3>
            <strong>Owl Series: Classroom Music Program</strong>
          </a>
        </div>
        <div class="col-xs-2">
          <a href="views/book-details" title="">
            <img src="./img/book.jpg" class="img-responsive"/>
            <h3>English Version</h3>
            <strong>Owl Series: Classroom Music Program</strong>
          </a>
        </div>
-->
      </div>
    </div>
    <script src="js/listview.js"></script>
    <script>
        (function () {
        var fullheight = $(window).height();
        $('.js-fullheight').css('min-height', fullheight);

        var domain = "http://192.168.1.39:9999/";
        $.ajax({
            type: "POST",
            url: domain + "Custom/Service/TestService.svc/GetTestBook",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: null,
            success: function (result) 
            {
                var data = result.d
                var htmlDisplay = "";
                /*$.each(data, function (index)
                {
                    htmlDisplay += data[index].CoverImageUrl;
                });*/
                $("#js-listingbooks-cover").attr("src",data[0].CoverImageUrl);
            },
            error: function (error) { alert(error); }
        });

    }());
    </script>
</div>
