<div data-role="view" data-title="Listing" id="listoverview">    
    <div class="col-xs-3">
      <h1>Music Factory</h1>
      <div class="profile-wrap">
        <img src="http://placehold.it/350x150" class="img-responsive"/>
        <div class="profile-header">
          <strong>Welcome Back!</strong>
          <h2>Jane Smith</h2>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="" title=""></a></li>
        </ul>
        <ul data-role="listview">
            <li><a href="#index" data-icon="home">Home</a></li>
            <li><a href="views/class.html" data-icon="favorites">My Class</a></li>
            <li><a href="views/books.html" data-icon="globe">Books</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-9">
    data
    </div>
</div>