<div data-role="view" data-title="Individual Class" id="mf-individualclass" data-transition="overlay:down" data-before-show="beforeShowIndividualClass" data-after-show="showIndividualClass">    
    <!--start sidebar-->
    <div class="col-xs-3 main-aside js-fullheight-side">
      <div class="branding-wrap">
        <h1><img src="./img/branding.png" alt="Music Factory" class="center-block"/></h1>
      </div>
      <div class="profile-wrap">
        <div class="profile-wrap-bg text-hide">
          <img src="./img/profile-bg.jpg" alt="class"/>
        </div>
        <img src="./img/profile-photo.jpg" class="img-responsive profile-photo" alt="Profile Photo"/>
        <div class="profile-header">
          <strong>Welcome Back!</strong>
          <h2>Go Wan Xiu</h2>
        </div>
      </div>
      <div class="aside-myclasses">
        <div class="aside-myclasses-title"><strong><span class="icon-class"></span>My Classes</strong></div>
        <div data-role="scroller" style="height: 250px" id="scroll-myclasses">
          <div class="aside-myclasses-class aside-myclasses-class-active"><a class="aside-classes-link">Class Joy 2015</a></div>
          <div class="aside-myclasses-class"><a class="aside-classes-link">Class Unity 2015</a></div>
        </div>
        <div class="wrap-signout"><a class="km-widget km-button bttn-signout">Sign Out</a></div>
      </div>
    </div>
    <!--end sidebar-->
    
    <!--start listing-->
    <div class="col-xs-9">
      <!--start masthead-->
      <div class="listing-masthead-wrap">
        <div class="row row-margin-null">
          <div class="col-xs-7">
            <h1>Class Joy 2015</h1>
            <strong>Age Group: 3-4 years old</strong>
          </div>
          <div class="col-xs-5 masthead-classes-right">
            <strong>Total Students: 10</strong>
            <strong>Start Date: July 29, 2015</strong>
          </div>
        </div>
      </div>
      <!--end masthead-->
      <div class="row row-margin-null js-individual-classes" data-role="scroller">   
        <div class="col-xs-12">
          <div class="individual-classes-tabcontrolwrap">
            <div class="individual-classes-tabscontrol tabcontrol-active individual-classes-tabscontrol-01">Book</div>
            <div class="individual-classes-tabscontrol individual-classes-tabscontrol-02">Student List</div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="individual-classes-tabs" id="individual-classes-tab-book">
          <!--start book-->
            <div class="individual-classes-book-border">
              <div class="individual-classes-book row">
                <div class="individual-classes-leftcontent col-xs-12">
                  <div class="individual-classes-bookcover">
                    <img src="./img/books/owl_yellow.jpg" class="img-responsive"/>
                  </div>
                  <div class="individual-classes-slider">
                    <h2>Owl Series : Blinkie Beats</h2>
                    <div class="progress-wrap clearfix">
                      <div class="progress-width">
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" id="progressbar">
                            <div class="progress-value">
                              <div class="progress-lesson">L<span class="js-progress-lesson">0</span></div>
                              <div class="progress-tooltip"><span class="js-tooltip-current-lesson">0</span>/<span class="js-tooltip-total-lesson">0</span></div>
                            </div>
                          </div>
                          <span class="progress-initial">0</span>
                        </div>
                      </div>
                      <div class="individual-classes-button">
                        <a class="bttn">Continue</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notification-warning">English Book : Please conduct 1st Semester Progress Report.<a class="bttn-go">Go</a></div>
              <div class="notification-warning">English Book : Please conduct 12nd Semester Progress Report.<a class="bttn-go">Go</a></div>
            </div> 
            <!--end book-->
            <!--start book-->
            <div class="individual-classes-book-border">
              <div class="individual-classes-book row">
                <div class="individual-classes-leftcontent col-xs-12">
                  <div class="individual-classes-bookcover">
                    <img src="./img/books/owl_yellow.jpg" class="img-responsive"/>
                  </div>
                  <div class="individual-classes-slider">
                    <h2>貓頭鷹系列 眨眼睛 節拍</h2>
                    <div class="progress-wrap clearfix">
                      <div class="progress-width">
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" id="progressbar">
                            <div class="progress-value">
                              <div class="progress-lesson">L<span class="js-progress-lesson">0</span></div>
                              <div class="progress-tooltip"><span class="js-tooltip-current-lesson">0</span>/<span class="js-tooltip-total-lesson">0</span></div>
                            </div>
                          </div>
                          <span class="progress-initial">0</span>
                        </div>
                      </div>
                      <div class="individual-classes-button">
                        <a class="bttn">Continue</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notification-warning">Chinese Book : Please conduct 2nd Semester Progress Report.<a class="bttn-go">Go</a></div>
            </div>  
            <!--end book-->
          </div>  
          <div class="individual-classes-tabs" id="individual-classes-tab-student">
            <div class="individual-student-wrap">
            <!--start letter-block-->
              <div class="individual-student-block">
                <div class="individual-student-letter">A</div>
                <div class="individual-student-group">
                  <div class="individual-student A-group">
                    <div class="row">
                      <div class="col-xs-8">
                        <img class="individual-student-profile" src="./img/studentphoto-small.jpg"/>
                        <strong class="individual-student-name">Angi Lixian</strong>
                      </div>
                      <div class="col-xs-4">
                        <div class="individual-student-link-wrap clearfix">
                          <a class="bttn bttn-view">View</a>
                          <span class="individual-student-progress">Complete</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!--end letter-block-->
            <!--start letter-block-->
              <div class="individual-student-block">
                <div class="individual-student-letter">B</div>
                <div class="individual-student-group">
                  <div class="individual-student B-group">

                  </div>
                </div>
              </div>
            <!--end letter-block-->
            <!--start letter-block-->
              <div class="individual-student-block">
                <div class="individual-student-letter">C</div>
                <div class="individual-student-group">
                  <div class="individual-student C-group">

                  </div>
                </div>
              </div>
            <!--end letter-block-->
            </div>
          </div> 
        </div> 
      </div>
  </div>
  <script src="js/individualclass.js"></script>
</div>

