<div id="lesson-details-kinder" class="book-main-wrap" data-role="view" data-layout="drawer-layout" data-before-show="beforeShowKinderlessons" data-after-show="afterShowKinderlessons" data-before-hide="beforeHideKinderlessons">

  <header data-role="footer" class="book-main-wrap-header">
    <div class="row">
        <div class="col-xs-6">
            <a data-role="button" data-bind="events: { click: GoToLibrary }"><span class="icon-booklist"></span> <span data-bind="text: GoToHomeLabel"></span></a>
        </div>
        <div class="col-xs-6" >
            <strong><span data-bind="text: Book.Title"></span> - <span data-bind="text: CurrentChapter.Title"></span></strong>
        </div>	        
    </div>       
  </header>
  
  <div class="row book-content-wrap js-fullheight row-margin-null js-kindertabs">
    <div class="col-xs-12">
    <!--start content-->
      <div class="row book-content-header">
        <div class="col-xs-12">
          <!--<h1>Lesson 1: The Bicycle Bells</h1> -->
          <h1 data-bind="text: CurrentLesson.Title"></h1>
        </div>
        <div class="col-xs-12">
          <ul class="bookdetails-tabs kinder-tabs">
            <li class="tab-control-01 tab-active" data-tab="kindertab-1"><span data-bind="text: Tab1"></span></li>
            <li class="tab-control-02" data-tab="kindertab-2"><span data-bind="text: Tab2"></span></li>
            <li class="tab-control-03" data-tab="kindertab-3"><span data-bind="text: Tab3"></span></li>
            <li class="tab-control-04" data-tab="kindertab-4"><span data-bind="text: Tab4"></span></li>
            <li class="tab-control-05" data-tab="kindertab-5"><span data-bind="text: Tab5"></span></li>
          </ul>
        </div>
      </div>
      <!--Start Overview-->
      <div id="kindertab-1" class="tab-content-wrap tab-content-01" data-bind="html: CurrentLesson.Section1_Content">
      </div>
      <!--End Overview-->
      
      <!--Start Activity Procedure-->
      <div id="kindertab-2" class="row tab-content-wrap tab-content-02">
        <div class="col-xs-12">  
          <div class="fancybox bttn-modal" href="#kinderwelcomesong"><span data-bind="text: PlayWelcomeSong"></span></div>
          <hr/>
          <!--start modal-->
          <div id="kinderwelcomesong" class="modalcontent">
            <div class="data-modalcontent"  data-bind="html: BookWelcome">
            </div>
          </div>
          <!--end modal-->
          <div class="detail-wrap" data-bind="html: CurrentLesson.Section2_Content">
          </div>
          <hr/>
          <div class="bttn-modal fancybox" href="#kindergoodbyesong"><span data-bind="text: PlayGoodbyeSong"></span></div>
          <!--start modal-->
          <div id="kindergoodbyesong" class="modalcontent">
            <div class="data-modalcontent"  data-bind="html: BookGoodbye">
            </div>
          </div>
          <!--end modal-->
          <!--Lesson Complete-->
          <div class="lesson-complete">
            <div class="row">
              <div data-bind="html: Complete">
              </div>
              <div class="col-xs-3">
                <a class="bttn"><span data-bind="text: CompleteButton"></span></a>
              </div>
            </div>
          </div>
          <!--end Lesson Complete-->
        </div>
      </div>
      <!--End Activity Procedure-->
      <!--Start Reference Materials-->
      <div id="kindertab-3" class="tab-content-wrap tab-content-03 detail-wrap" data-bind="html: CurrentLesson.Section3_Content">
        
      </div>
      <!--End Reference Materials-->   
      <!--Start Music Play Center-->
      <div id="kindertab-4" class="tab-content-wrap tab-content-04">
          <div data-bind="html: MPC_Disclaimer" class="mpc-disclaimer">
          </div>
          <!--
          <p>Owl Series Music Play Centre(TM) is designed to supplement your music lessons. Additional activities and materials are provided to reinforce musical learning in the classroom. The suggested activities allow self-initiated music play for children to further expand, manipulate, create and explore their innate musicality.</p>
          <br/>
          <p>Here are three activities that you can choose from to compliment a cluster of music lessons. You may choose to place one or more activities at the MPC, based on the needs of your students.</p>
          <br/>
          -->
          <div data-bind="html: CurrentLesson.Section4_Content">
          </div>
      </div>
      <!--End Music Play Center-->
      <!--Start Moments-->
      <div id="kindertab-5" class="tab-content-wrap tab-content-05" data-bind="html: CurrentLesson.Section5_Content">
        
      </div>
      <!--End Moments-->
    <!--end content-->
    </div>
  </div>
  
  <footer data-role="header" class="book-main-wrap-footer">
    <div class="row">
        <div class="col-xs-6">
            <a data-role="button" class="bttn-tableofcontents" data-role="button" data-rel="drawer" href="#table-of-contents-chapter-kinder"><span class="glyphicon glyphicon-menu-hamburger"></span><span data-bind="text: TableOfContentsLabel"></span></a>
            <a data-role="button" class="bttn-prev bttn-prev-lesson" data-bind="events: { click: PrevLessonClick }" data-transition="slide" ><span class="icon-left"></span> <span class="span-bold km-text" data-bind="text: Back"></span> <span data-bind="text: PrevLessonNumber" class="km-lessonnum"></span></a>
            <a data-role="button" class="bttn-prev-preface hide" href="views/mf-kinderbookpreface.html" data-transition="slide" ><span class="icon-left"></span> <span class="span-bold km-text" data-bind="text: BackPreface"></span> <span class="span-bold km-text" data-bind="text: PrefaceTitle"></span></a>
        </div>
        <div class="col-xs-6">
            <a class="bttn-next bttn-next-lesson" data-bind="events: { click: NextLessonClick }" data-role="button"> <span class="span-bold km-text" data-bind="text: Next"></span> <span data-bind="text: NextLessonNumber" class="km-lessonnum"></span> <span class="icon-right"></span></a>
            <a class="bttn-next bttn-glossary-lesson" href="views/mf-kinderbookglossary.html"  data-role="button" data-transition="slide"><span class="span-bold km-text" data-bind="text: NextGlossary"></span> <span class="span-bold km-text" data-bind="text: GlossaryTitle"></span> <span class="icon-right"></span></a>
        </div>	        
    </div> 
  </footer>
<div class="preloader-mf"><div class="preloader-mf-img"></div></div>
<script src="js/kinderbookdetails.js"></script>
</div>

<!--drawer navigation-->
<div data-role="drawer" id="table-of-contents-chapter-kinder" class="bookdetails-drawer table-of-contents" style="width:250px"  data-swipe-to-open="true"  data-show="onShowDrawer" data-views='["views/mf-kinderbookdetails.html"]'>
    <div id="book-title" class="bookdetails-drawer-head">
      <h1 data-bind="text: Book.Title"></h1>
    </div>
    <div data-role="scroller" style="height: 460px" id="scroller">
      <div class="bookdetails-div bookdetails-cover"><a data-role="button" data-bind="events: { click: GoToCover }"><span data-bind="text: CoverLabel"></span></a></div>
      <div class="bookdetails-div bookdetails-preface"><a data-role="button" data-bind="events: { click: GoToPreface }"><span data-bind="text: PrefaceTitle"></span></a></div>
      <ul id="list-chapters" class="bookdetails-drawer-firstnav" data-bind="source: Chapters" data-template="chapters-template">
      </ul>
      <div class="bookdetails-div bookdetails-cover"><a data-role="button" data-bind="events: { click: GoToGlossary }"><span data-bind="text: GlossaryTitle"></span></a></div>
    </div>
    <a data-click="hideDrawerKD" data-role="button" class="bttn-hidedrawer"></a>       
</div>
<!--end drawer navigation-->


<!-- Chapter Nav Template -->
<script id="chapters-template" type="text/x-kendo-template">
  <li>
    <a class="km-widget km-button js-subnav-link" data-role="button" data-bind="attr: { title: Title }, events: { click: SlideToggle }" data-transition="none" data-role="button" class="js-subnav-link"> <span data-bind="text: Title"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
    <ul>
      #= RenderLessonsTemplate(data) #
    </ul>
  </li>
</script>

<!-- Lesson Nav Template -->
<script id="lessons-template" type="text/x-kendo-template">
    # $.each(data.Lessons, function (index, lesson) { 
            # <li>
              <a class="km-widget km-button" data-bind="events: { click: SelectLesson }" data-transition="none">
                <input class="js-lessonnumber" type="text" value="${lesson.LessonNumber}" hidden/>
                <input class="js-chapternumber" type="text" value="${lesson.ChapterNumber}" hidden/>
                ${lesson.Title}
              </a>
            </li> #
      }); 
    #
</script>



